<!--NavBar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Workout Tracker</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        <link rel="stylesheet" href="/Content/app.css">
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <% if(title=="Home") { %>
              <a class="nav-link active" href="/home">
            <% } else {%>
              <a class="nav-link" href="/home">
            <% } %>  
            <i class="fa-solid fa-house-chimney-user"></i> Home</a>
          </li>
          <li class="nav-item">
            <% if(title=="About us") { %>
              <a class="nav-link active" href="/aboutus">
            <% } else {%>
              <a class="nav-link" href="/aboutus">  
            <% } %>       
              <i class="fa-solid fa-circle-info"></i> AboutUs</a>
          </li>
          <li class="nav-item">
            <% if(title=="Products") { %>
              <a class="nav-link active" href="/products">
            <% } else {%>
              <a class="nav-link" href="/products">
            <% } %>    
              <i class="fa-brands fa-elementor"></i> Products</a>
          </li>
          <li class="nav-item">
            <% if(title=="Service") { %>
              <a class="nav-link active" href="/service">
            <% } else {%> 
              <a class="nav-link" href="/service">
            <% } %>  
                <i class="fa-solid fa-gears"></i> Service</a>
          </li>
          <li class="nav-item">
            <% if(title=="Workouts") { %>
              <a class="nav-link active" href="/workoutslist">
            <% } else {%>
              <a class="nav-link" href="/workoutslist">
            <% } %>  
            <i class="fa-solid fa-box"></i> Workouts</a>
          </li>
          <li class="nav-item"></li>
          <% if(title=="Contact Us") { %>
            <a class="nav-link active" href="/contactus">
          <% } else {%>  
            <a class="nav-link" href="/contactus">
          <% } %> 
          <i class="fa-solid fa-address-card"></i> ContactUs</a>
          </li>
         <li class ="nav-item"></li>
         <% if(title=="Public Workouts") { %>
          <a class="nav-link active" href="/public-workouts">
            <% } else {%>
              <a class="nav-link" href="/public-workouts">
            <% } %>
            <i class="fa-solid fa-dumbbell"></i> Public Workouts</a>
              </li>
            <li class ="nav-item"></li>
          </a>
        

        </ul>
      </div>
    </div>
  </nav>